[GateServer]
Port = 8080
[VarifyServer]
Host = verifyserver
Port = 50057
[LogicServer]
Host = 0.0.0.0
Port = 50058
[Mysql]
Host = mysql
Port = 3306
Password = YOUR_MYSQL_PASSWORD
User = root
Schema = synccanvas
[Redis]
Host = redis
Port = 6379
Password = YOUR_REDIS_PASSWORD
[CanvasServers]
Name = CanvasServer1,CanvasServer2
[CanvasServer1]
Host = YOUR_SERVER_IP
Port = 8092
Name = CanvasServer1
RPCPort = 50059
[CanvasServer2]
Host = YOUR_SERVER_IP
Port = 8093
Name = CanvasServer2
RPCPort = 50060
